.main-menu{
    background: #FFFFFF;
    }
    .logo-web{
        color:  #2196F3;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19;
    }
    .logo-studio{
        color: black;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19;
        text-decoration: none; 
    }
    .main-menu a {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #020202;
        text-decoration: none;
    }
   .main-menu a:hover, 
   .main-menu a:focus {
        color:#2196F3;
    }
    .hero {
        background: #2F303A;
    }
    .title-hero {
        font-family: Roboto;
        font-size: 44px;
        font-weight: 900;
        line-height: 1.36;
        letter-spacing: 0.06em;
        color: white;
    }
    .button {
        font-family: Roboto;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
        color: white;
        background-color: #2196F3;
        width: 200px;
        height: 50px;
        left: 700px;
        top: 430px;
    }
    .advantages-item {
        width: 270px;
        height: 75px;
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
    }
    .advantages-header {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.03em;
        color: #212121;
    }
    .specialization-header {
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-align: center;
        color: #212121;
    }
    .our-team {
        background-color: #F5F4FA;
    }
    .our-team-header {
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: center;
        color:  #212121;
    }
   .name {
       font-family: Roboto;
       font-size: 16px;
       font-style: normal;
       font-weight: 500;
       line-height: 1.19;
       letter-spacing: 0.03em;
       color:  #212121;
    }
    .profession {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color:#757575;
    }
    .contact-information {
       background: #2F303A;
    }
    .logo-studio-white {
        color: white;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19;
        text-decoration: none;
    }
    .company-address {
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
    .tel-mail {
          font-family: Roboto;
          font-size: 14px;
          line-height: 1.71;
          letter-spacing: 0.03em;
          color:rgba(255, 255, 255, 0.6);
          text-decoration: none;
    }
    .button-portfolio {
           background: #F5F4FA;
           border-radius: 4px;
    }
    .button-portfolio:hover,
    .button-portfolio:focus {
            background-color:#2196F3;
            color: white;
    }
    .portfolio-header {
            font-family: Roboto;
            font-weight: bold;
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.06em;
            color: #212121;
    }
    .porfolio-list p {
            font-family: Roboto;
            font-size: 16px;
            line-height: 1.875;
            letter-spacing: 0.03em;
            color: #757575;
            
    }
    .link-logo {
        text-decoration: none;
    }