.main-menu{
    background: #FFFFFF;
    }
    .logo-web{
        color:  #2196F3;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
    }
    .logo-studio{
        color: black;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        text-decoration: none; 
    }
    .main-menu a {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #020202;
        text-decoration: none;
    }
   .main-menu a:hover, 
   .main-menu a:focus {
        color:#2196F3;
    }
    