.main-menu{
    background: #FFFFFF;
    }
    .logo-web{
        color:  #2196F3;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 31px;
    }
    .logo-studio{
        color: black;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 31px;
        text-decoration: none; 
    }
    .main-menu a {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #020202;
        text-decoration: none;
    }
   .main-menu a:hover, 
   .main-menu a:focus {
        color:#2196F3;
    }
    .menu-item {
        display: inline-block;
    }
    .hero {
        background: #2F303A;
    }
    .title-hero {
        font-family: Roboto;
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        line-height: 60px;
        letter-spacing: 0.06em;
        text-align: center;
        color: white;
        padding-left: 452px;
        padding-top: 200px;
        padding-bottom: 280px;
        padding-right: 452px;
    }
    .button {
        position: absolute;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
        color: white;
        background-color: #2196F3;
        position: absolute;
        width: 200px;
        height: 50px;
        left: 700px;
        top: 430px;
    }
   .advatages-item {
    position: absolute;
    width: 270px;
    height: 75px;
    left: 215px;
    top: 800px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    }